.section-contact {
    background: linear-gradient(96.21deg, #8345c0 2.61%, #5846be 99.5%);
    .row-contact {
        display: flex;
        color: white;
        gap: 3rem;
    }
    .form {
        width: 50%;
        h2 {
            text-transform: uppercase;
            margin-bottom: 2rem;
        }
    }
    form {
        font-size: 1.2rem;
        color: white;
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
    }
    input,
    textarea {
        background-color: transparent;
        border: 1px solid #2dbde9;
        border-radius: 10px;
        outline: 0;
        &:hover {
            border: 1px solid white;
        }
    }
    input {
        margin-bottom: 2rem;
        padding: 1rem;
    }
    label {
        font-size: 1.2rem;
        color: white;
        margin-bottom: 1rem;
    }
    .row-form {
        display: flex;
        gap: 3rem;
        flex-direction: row;
        div {
            display: flex;
            flex-direction: column;
        }
        .row-telephone {
            width: 40%;
        }
        .row-email {
            width: 60%;
        }
        button {
            width: fit-content;
        }
    }
    .photo {
        background-image: url("../img/bg-contact.png");
        position: absolute;
        background-repeat: no-repeat;
        width: 40rem; //media queries c width
        height: 50rem;
        display: flex;
        align-items: end;
        .social-media {
            padding: 2rem;
        }
        .social-media-content {
            display: flex;
            gap: 1rem;
            align-items: center;
            margin-bottom: 0.5rem;
        }
    }
}
.section-location {
    padding-top: 3rem;
    h2 {
        text-transform: uppercase;
    }
    .card-location {
        top: 30px;
        display: flex;
        position: absolute;
        flex-direction: column;
        gap: 1rem;
        background: #fff;
        box-shadow: 0px -13px 64px -34px rgba(0, 0, 0, 0.25);
        padding: 2rem 1.4rem;
        z-index: 1;
        border-radius: 27px;
        align-items: center;
        p {
            font-weight: 700;
        }
        img {
            max-width: 42px;
        }
    }
    address {
        display: flex;
        text-align: center;
        flex-direction: column;
        text-transform: uppercase;
        font-weight: 500;
        font-style: normal;
    }
    .map-container {
        position: relative;
    }
    .map-frame {
        margin-top: 8rem;
        position: relative;
    }
}

@media screen and (max-width: 1500px) {
    .section-contact {
        .photo {
            position: absolute;
            width: 40%; //media queries c width
            height: 50rem;
            display: flex;
            align-items: end;
        }
    }
}

@media screen and (max-width: 1200px) {
    .section-contact {
        .row-contact {
            padding-bottom: 5rem;
        }
        .form,
        .col-photo {
            width: 100%;
        }
        .photo {
            position: unset;
            width: 100%;
            max-width: 100%;
            height: 30rem;
            background-position-y: center;
            background-size: cover;
        }
        .row-contact {
            flex-direction: column;
        }
        .social-media {
            border-radius: 10px;
            background-color: rgba(229, 227, 233, 0.651);
            margin: 0 0 1rem 1rem;
        }
    }
}

@media screen and (max-width: 500px) {
    .section-contact {
        .form {
            h2 {
                text-align: center;
            }
        }
        .row-form {
            flex-direction: column;
            gap: unset;
            .row-email,
            .row-telephone {
                width: 100%;
            }
        }

        .photo {
            .social-media {
                margin: unset;
                padding: 1rem;
            }
        }
    }
    .section-location {
        .card-location {
            left: 50%;
            transform: translateX(-50%);
            width: 75%;
        }
        h2 {
            text-align: center;
        }
    }
}
