.title-hero {
    .blog {
        font-size: 1.5rem;
    }
}

.component-listagem-blog,
.swiperBlog {
    &.--home {
        height: 28rem;
    }
    .card-blog {
        &.--home {
            height: fit-content;
        }
        cursor: pointer;
        &:hover {
            background: #6346bf;
            color: white;
            .btn {
                background-color: white;
                color: #6346bf;
            }
            p {
                background-color: #8566e8;
            }
        }
    }
    .listagem-blog {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 3rem;
        padding: 3rem 0;
        &.--home {
            display: flex;
            padding: 5rem 0;
        }
    }
    .card-blog {
        border-radius: 0 20px 20px;
        transition: 0.3s;
        box-shadow: 0px 18px 59px -37px #6346bf;
        &:hover {
            background: #6346bf;
            color: white;
            .btn {
                background-color: white;
                color: #6346bf;
            }
            p {
                background-color: #8566e8;
            }
            h3 {
                color: white;
            }
        }
    }
    .card-blog-content {
        height: 12rem;
        padding: 3rem 2rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        position: relative;
    }
    .img-card-blog-container {
        a {
            display: flex;
        }
        width: 100%;
        img {
            min-height: 153px;
            width: 100%;
        }
    }
    .card-blog-data {
        position: absolute;
        top: 0;
        left: 15px;
        font-size: 0.8rem;
        font-weight: 300;
        padding: 0.5rem 1rem;
        color: white;
        background-color: #6346bf;
    }
    .btn {
        transition: 0.3s;
        position: absolute;
        right: 0;
        bottom: 0;
        color: white;
        background-color: #6346bf;
        padding: 0.4rem 0.8rem;
        border-radius: 20px 0 20px 0;
        font-size: 1.6rem;
        font-weight: 400;
    }
    h3 {
        color: black;
    }
    .swiper-pagination-bullet {
        --swiper-theme-color: #c4c4c4;
        width: 10px;
        height: 10px;
    }
    .swiper-pagination-bullet-active {
        --swiper-theme-color: #6346bf;
    }
}
.section-blog-integra {
    .img-integra-wrapper {
        max-width: 100%;
        img {
            width: 100%;
        }
    }
    .blog-post {
        padding: 4rem 0;
        box-sizing: border-box;
        p {
            color: #1f394c;
            line-height: 29.56px;
            margin-bottom: 1rem;
        }
    }
    .blog-share-content {
        a {
            padding: 0.2rem;
            background-color: #efecf9;
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            transition: 0.3s;
            &:hover {
                background-color: #b6a0ff;
            }
            img {
                max-width: 20px;
            }
        }
        display: flex;
        margin-top: 3rem;
        gap: 1rem;
        align-items: center;
        p {
            margin-bottom: unset;
        }
    }

    .line {
        background: linear-gradient(96.21deg, #8345c0 2.61%, #5846be 99.5%);
        height: 2px;
        width: 100%;
    }
    .related-posts {
        .title-wrapper {
            h3 {
                font-weight: 400;
            }
            display: flex;
            text-align: center;
            text-transform: uppercase;
            align-items: center;
            flex-direction: column;
        }
        .component-listagem-blog {
            margin-top: unset;
        }
        padding: 5rem 0;
    }
}
.section-listagem-blog,
.other-posts {
    padding: 3rem 0;
    form,
    .filter-wrapper,
    .select-wrapper {
        display: flex;
        gap: 0.8rem;
        align-items: center;
    }
    input,
    select {
        outline: unset;
        border-style: none;
        appearance: unset;
        border: none;
        font-family: "Montserrat", sans-serif;
        padding: 0.5rem 1rem;
        background-color: unset;
        border-bottom: 1px solid gray;
        &:hover,
        &:focus {
            border-color: #32c1db;
        }
    }
    select,
    label {
        color: #1f394c;
        font-size: 1rem;
    }
    select {
        width: 12rem;
        position: relative;
    }
    label {
        max-width: 8rem;
    }
    .filter-wrapper {
        position: relative;
        button {
            color: #32c1db;
            border: unset;
            background-color: unset;
            text-transform: uppercase;
            font-weight: 900;
            right: 0;
            cursor: pointer;
            position: absolute;
        }
    }
    .title-wrapper {
        text-transform: uppercase;
        color: #1f394c;
        display: flex;
        align-items: center;
        justify-content: space-between;
        h2 {
            max-width: 300px;
        }
        &.--otherPosts {
            h2 {
                font-weight: 300;
            }
            justify-content: center;
            text-align: center;
            span {
                font-weight: 700;
                display: block;
            }
        }
    }
}

@media screen and (max-width: 991px) {
    .section-listagem-blog,
    .section-blog-integra {
        .title-wrapper {
            flex-direction: column;
            gap: 4rem;
            h2 {
                max-width: unset;
            }
        }
        label {
            max-width: unset;
        }
    }
    .component-listagem-blog {
        .listagem-blog {
            padding-top: 5rem;
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media screen and (max-width: 768px) {
    .section-listagem-blog,
    .section-blog-integra {
        .listagem-blog {
            grid-template-columns: 1fr 1fr;
        }
        .blog-post {
            padding-top: 3rem;
        }
        label {
            max-width: 7rem;
        }
    }
    .component-listagem-blog,
    .swiperBlog,
    .section-blog-integra {
        h3 {
            font-size: 1rem;
        }
    }
    .component-listagem-blog,
    .swiperBlog {
        .img-card-blog-container {
            img {
                min-height: unset;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .section-blog-integra {
        .listagem-blog {
            justify-items: center;
            grid-template-columns: 1fr;
            .card-blog {
                width: 70%;
            }
        }
    }
    .section-listagem-blog {
        form {
            flex-direction: column;
        }
        .title-wrapper {
            h2 {
                text-align: center;
            }
        }
        label {
            max-width: unset;
        }
        .listagem-blog {
            display: grid;
            grid-template-columns: 1fr;
            gap: 3rem;
            padding: 3rem 0;
            justify-items: center;
        }
        .card-blog {
            max-width: 70%;
        }
    }

    @media screen and (max-width: 425px) {
        .section-blog-integra {
            .listagem-blog {
                .card-blog {
                    width: 90%;
                }
            }
        }
        .section-listagem-blog {
            .filter-wrapper {
                flex-direction: column;
                button {
                    top: 77px;
                }
            }
            .card-blog {
                max-width: 90%;
            }
        }
    }
}
