.btn {
    transition: 0.5s;
    text-transform: uppercase;
    border-radius: 5px;
    display: inline-flex;
    text-align: center;
    align-items: center;
    &.--clubeHeader,
    &.--assineSobre {
        background-color: #000;
        color: white;
        font-size: 0.8rem;
        &:hover {
            color: white;
        }
    }
    &.--clubeHeader {
        position: relative;
        padding: 1rem 1.5rem 1.2rem 1.5rem;
    }
    &.--assineSobre {
        padding: 1rem 1.5rem;
        &:hover {
            background-color: #4327ab;
        }
    }
    &.--clubeFooter {
        padding: 1rem 0.8rem;
        font-weight: 600;
        background-color: #32c1db;
        color: black;
    }
    &.--assine {
        font-weight: 400;
        background-color: #ea0000;
        color: white;
        padding: 0.25rem 0.8rem;
        &:hover {
            transform: scale(1.1);
        }
    }
    &.--assineHeader {
        width: fit-content;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        font-size: 0.8rem;
        background-color: #32c1db;
        color: white;
        position: absolute;
        top: 2.5rem;

        border-radius: 2px;
        padding: 0.25rem 0.8rem;
    }
    &.--login {
        font-size: 0.8rem;
    }
    &.--assineSobre {
        width: fit-content;
    }
    &.--submit {
        margin-top: 3rem;
        background-color: #5bcde2;
        color: #4327ab;
        font-weight: 600;
        font-size: 0.9rem;
        justify-content: center;
        padding: 1rem 4rem;
        border: none;
        cursor: pointer;
        width: 60%;
    }
    &.--clubeHome {
        background-color: #fdcb06;
        color: #6446bf;
        margin-bottom: 1rem;
        font-weight: 500;
        padding: 1rem;
        &:hover {
            background-color: #32c1db;
            color: white;
        }
    }
    &.--clubeDescontos {
        position: absolute;
        padding: 1rem 1.5rem;
        color: white;
        font-size: 0.8rem;
        bottom: 5rem;
        background: linear-gradient(276.7deg, #ff7061 0.86%, #f29500 168.9%);
        &:hover {
            transform: scale(1.1);
        }
    }
    &.--assineEconomia {
        color: black;
        width: fit-content;
        padding: 1.5rem 2rem;
        font-weight: 700;
        background-color: #32c1db;
    }
    &.--clubeFooter,
    &.--assineEconomia {
        &:hover {
            background-color: #4327ab;
            color: white;
        }
    }
}

@media screen and (max-width: 1200px) {
    .btn {
        &.--clubeHeader,
        &.--assineHeader {
            &:hover {
                color: #32c1db;
            }
            all: unset;
            cursor: pointer;
            transition: 0.3s;
        }
    }
}
