.section-listagem-estabelecimentos-conveniados,
.section-slider-estabelecimentos-conveniados {
    .title {
        text-transform: uppercase;
        font-weight: 300;
        color: #1f394d;
    }
    span {
        display: block;
        font-weight: 700;
    }
    .title-wrapper {
        &.--slider {
            position: relative;
            justify-content: center;
            .title {
                text-align: center;
            }
        }
        margin-top: 3rem;
        align-items: center;
        display: flex;
        justify-content: space-between;
        form {
            display: flex;
            gap: 1rem;
            &.--slider {
                margin: 0 auto;
                right: 0;
                position: absolute;
            }
        }
    }

    input,
    select {
        background-color: unset;
        width: 15rem;
        outline: unset;
        border-style: none;
        appearance: unset;
        border: none;
        font-family: "Montserrat", sans-serif;
        padding: 0.8rem 0;
        border-bottom: 1px solid #b7b7b7;
        select:invalid {
            color: gray;
        }
        select:invalid {
            color: gray;
        }
        &:hover,
        &:focus {
            border-color: #32c1db;
        }
        &::placeholder {
            text-transform: uppercase;
        }
    }
    select {
        text-transform: uppercase;
    }
    .filter-wrapper {
        position: relative;
    }
    button {
        position: absolute;
        right: 0;
        top: 50%;
        cursor: pointer;
        padding: 1rem;
        border: unset;
        background-repeat: no-repeat;
        background-color: unset;
        transform: translateY(-50%);
        background-image: url("../img/icon-search.svg");
    }
}
.section-estabelecimentos-conveniados-integra {
    padding: 3rem 0;
    .intro-row,
    .company-wrapper,
    .title-wrapper,
    .discount-wrapper,
    .discount-content,
    .information,
    .card-contact,
    .telephone-wrapper,
    .email-wrapper,
    .card-socialmedia,
    .card-information,
    .icon-img-container,
    .card-location,
    .usage {
        display: flex;
    }
    .title-wrapper,
    .card-contact,
    .card-information,
    .card-location,
    .usage {
        flex-direction: column;
    }
    .intro-row,
    .discount-wrapper {
        justify-content: space-between;
    }
    .card-socialmedia,
    .intro-row,
    .company-wrapper,
    .icon-img-container,
    .discount-content,
    .discount-wrapper {
        align-items: center;
    }

    .information,
    .intro-row,
    .gallery {
        padding: 1rem 0;
    }

    .intro-row {
        .discount-wrapper {
            gap: 2rem;
            a {
                background-color: #f0f0f0;
                padding: 0.8rem 1.6rem;
                border-radius: 5px;
                color: #6346bf;
                text-transform: uppercase;
                font-weight: 700;
                font-size: 0.8rem;
                transition: 0.4s;
                &:hover {
                    color: #f0f0f0;
                    background-color: #6346bf;
                }
            }
        }
        .discount-content {
            gap: 0.5rem;
            span {
                border-radius: 50%;
                width: 50px;
                height: 50px;
                color: white;
                object-fit: cover;
                font-weight: 700;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #6346bf;
            }
        }

        .company-wrapper {
            gap: 1rem;
            .title-wrapper {
                gap: 0.5rem;
                p {
                    font-weight: 300;
                    max-width: 400px;
                }
            }
            .img-container {
                padding: 1rem;
                max-width: 180px;
                max-height: 200px;
                img {
                    max-width: 100%;
                }
            }
        }
    }

    .description {
        line-height: 30px;
        font-weight: 300;
    }

    .gallery {
        padding: 2rem 0;
        .swiper {
            height: 500px;
        }
        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;

            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
        }

        .swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .swiper-slide {
            background-size: cover;
            background-position: center;
        }

        .sliderDescontosIntegra {
            border-radius: 20px;
        }

        .sliderDescontosIntegraThumb {
            height: 150px;
            box-sizing: border-box;
            padding: 15px 0;
        }

        .sliderDescontosIntegraThumb .swiper-slide {
            width: 25%;
            height: 100%;
            border-radius: 10px;
            overflow: hidden;
            opacity: 0.4;
            transition: 0.2s;
            cursor: pointer;
            &:hover {
                opacity: 1;
            }
        }

        .sliderDescontosIntegraThumb .swiper-slide-thumb-active {
            opacity: 1;
        }

        .swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .swiper-button-next {
            right: 20px;
        }
        .swiper-button-prev {
            left: 20px;
        }
        .swiper-button-prev,
        .swiper-button-next {
            --swiper-navigation-size: 15px;
            --swiper-theme-color: #32c1db;
            height: 50px;
            width: 50px;
            border-radius: 50%;
            object-fit: cover;
            background-color: #fff;
            transition: 0.5s;
            &:hover {
                background-color: #32c1db;
                --swiper-theme-color: #fff;
            }
        }
    }

    .information {
        gap: 4rem;
        .card-information {
            padding: 1rem;
            background: #ffffff;
            box-shadow: 0px 12px 56px -10px rgba(61, 63, 64, 0.14);
            border-radius: 20px;
            gap: 2rem;
        }
        .card-contact,
        .card-socialmedia,
        .card-location {
            gap: 0.5rem;
        }
        .card-contact {
            a {
                color: #000;
                text-decoration: none;
            }
        }
        .card-socialmedia {
            a {
                display: flex;
                align-items: center;
                height: 100%;
            }
        }
        .icon-img-container {
            padding: 0.2rem;
            background-color: #efecf9;
            width: 2.5rem;
            height: 2.5rem;
            transition: 0.3s;
            border-radius: 50%;
            cursor: pointer;
            justify-content: center;
            &:hover {
                background-color: #b6a0ff;
            }
        }

        .usage {
            gap: 1.5rem;
            p {
                line-height: 30px;
            }
            p:first-of-type {
                font-weight: 700;
            }
            a {
                background-color: #000000;
                padding: 0.8rem 1.6rem;
                border-radius: 5px;
                color: #ffffff;
                text-transform: uppercase;
                font-weight: 700;
                width: fit-content;
                margin-top: 1rem;
                font-size: 0.8rem;
                &:hover {
                    transition: 0.4s;
                    background-color: #6346bf;
                }
            }
        }
    }
}
@media screen and (max-width: 1200px) {
    .section-estabelecimentos-conveniados-integra {
        .intro-row {
            .company-wrapper {
                .title-wrapper {
                    p {
                        max-width: 300px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .section-listagem-estabelecimentos-conveniados {
        .title-wrapper {
            flex-direction: column;
            gap: 3rem;
        }
        span {
            text-align: center;
        }
    }
    .section-slider-estabelecimentos-conveniados {
        .title-wrapper {
            &.--slider {
                position: unset;
                justify-content: space-between;
                .title {
                    text-align: unset;
                }
            }
            form {
                &.--slider {
                    margin: unset;
                    right: unset;
                    position: unset;
                }
            }
        }
    }
    .section-estabelecimentos-conveniados-integra {
        .intro-row {
            .discount-wrapper {
                flex-direction: column;
                gap: unset;
                align-items: flex-end;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .component-listagem-estabelecimentos-conveniados
        .listagem-estabelecimentos-conveniados {
        grid-template-columns: 1fr;
        justify-items: center;
        .card-estabelecimentos {
            width: 80%;
        }
    }
    .section-slider-estabelecimentos-conveniados {
        .title-wrapper {
            flex-direction: column;
            gap: 3rem;
        }
        span {
            text-align: center;
        }
    }
    .section-estabelecimentos-conveniados-integra {
        .intro-row {
            flex-direction: row;
            .company-wrapper {
                align-items: flex-start;
                flex-direction: column;
            }
            .discount-wrapper {
                gap: 1rem;
            }
        }
        .description {
            margin-top: 2rem;
        }
        .information {
            flex-direction: column;
            gap: 3rem;
        }
    }
}
@media screen and (max-width: 600px) {
    .section-listagem-estabelecimentos-conveniados .title-wrapper form {
        flex-direction: column;
        gap: 1rem;
    }
    .component-listagem-estabelecimentos-conveniados
        .listagem-estabelecimentos-conveniados {
        .card-estabelecimentos {
            width: 90%;
        }
    }
}

@media screen and (max-width: 475px) {
    .section-estabelecimentos-conveniados-integra {
        padding: 1rem 0 3rem 0;
        .intro-row {
            flex-direction: column;
            .company-wrapper {
                width: 100%;
                gap: unset;
                flex-direction: column;
                align-items: center;
                text-align: center;
                .img-container {
                    display: flex;
                    justify-content: flex-start;
                }
                .title-wrapper {
                    width: 100%;
                    align-items: center;
                }
            }
            .discount-wrapper {
                margin-top: 2rem;
                width: 100%;
                flex-direction: row;
                .discount-content {
                    gap: 0.5rem;
                    justify-content: space-between;
                }
            }
        }
        .description {
            margin-top: 2rem;
        }
        .information {
            flex-direction: column;
            gap: 3rem;
        }
    }
}
