.section-faq {
    background: linear-gradient(96.21deg, #8345c0 2.61%, #5846be 99.5%);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 5rem;
    .faq-title {
        padding-top: 3rem;
        color: white;
        text-align: center;
        background: linear-gradient(96.21deg, #8345c0 2.61%, #5846be 99.5%);
        text-transform: uppercase;
        h1 {
            font-size: 3rem;
        }
        h2 {
            font-weight: 300;
            font-size: 2rem;
        }
    }
    .faq-content {
        display: flex;
        flex-direction: column;
    }
    .content {
        background: #efecf9;
        color: black;
        transition: max-height 0.3s;
        overflow: hidden;
        max-height: 0;
        line-height: 180%;
        border-radius: 0px 0px 10px 10px;
        p {
            padding: 0.2rem 4rem 2rem 4rem;
        }
    }
    h4 {
        margin-right: 2rem;
        line-height: 150%;
    }
    .trigger {
        display: flex;
        position: relative;
        color: white;
        text-transform: uppercase;
        padding: 2rem 1.5rem;
        background: #3f24a9;
        transition: 0.5s;
        gap: 1rem;
        font-weight: 500;
        margin-top: 1rem;
        border-radius: 10px;
        &:hover {
            cursor: pointer;
        }
        span {
            font-weight: 700;
            opacity: 0.1;
        }
    }
    .trigger::after {
        content: url("../img/arrow-closed-faq.svg");
        z-index: 1;
        position: absolute;
        right: 0;
        margin: 0 10px 0 20px;
        background: #2dbde9;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        object-fit: cover;
        border-radius: 50%;
        transition: 0.5s;
    }
    .trigger.is-open {
        background: #efecf9;
        color: black;
        border-radius: 10px 10px 0 0;
    }
    .trigger.is-open::after {
        z-index: 1;
        position: absolute;
        right: 0;
        transform: rotate(180deg);
        margin: 0 10px 0 20px;
        background: #6146bf;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        object-fit: cover;
        border-radius: 50%;
    }
    .content.is-open {
        max-height: var(--max-height);
    }
}

@media screen and (max-width: 1000px) {
    .section-faq {
        padding: 4rem 0;
    }
}
@media screen and (max-width: 425px) {
    .section-faq {
        .faq-content {
            max-width: 100%;
        }
        .content {
            p {
                padding: 0.2rem 1.5rem 2rem 1.5rem;
            }
        }
        .trigger {
            span {
                display: none;
            }
        }
    }
}
