footer {
    text-transform: uppercase;
    .footer-top {
        h3 {
            text-transform: uppercase;
            font-size: 1.5rem;
            max-width: 25.4rem;
        }
        padding: 2.2rem 0;
        background-color: black;
        color: white;
    }
    .footer-newsletter,
    .social-media,
    .logo,
    .icons-container,
    .icons-img-container,
    form {
        display: flex;
    }
    .social-media {
        flex-direction: column;
    }
    .footer-newsletter {
        justify-content: space-between;
    }
    form,
    .icons-container,
    .icons-img-container,
    .logo {
        gap: 1rem;
    }
    .logo,
    form {
        align-items: center;
    }
    input {
        padding: 1rem 2rem;
        border-radius: 10px;
        border: 1px solid #d9d9d9;
        font-family: "Montserrat", sans-serif;
        &::placeholder {
            color: #3a556a;
            font-weight: 300;
        }
    }
    .footer-newsletter-content {
        display: flex;
        gap: 5rem;
        padding: 2rem 1.5rem;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
    }
    .icon-img-container {
        padding: 0.2rem;
        background-color: #efecf9;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .footer-top-content {
        display: flex;
        justify-content: space-between;
    }
    .social-media {
        gap: 1rem;
    }
    .nav-footer {
        display: flex;
        gap: 3rem;
        padding: 3rem 1.5rem;
        .col {
            max-width: 13rem;
        }
        ul {
            margin-bottom: 3rem;
            list-style-type: none;
            padding-left: unset;
        }
        li {
            line-height: 200%;
            width: fit-content;
        }
        h3 {
            line-height: 150%;
            text-transform: uppercase;
            font-size: 1rem;
            margin-bottom: 1.2rem;
        }
        a {
            text-transform: none;
            font-size: 0.9rem;
            color: #3a556a;
            transition: 0.5s;
            &:hover {
                color: #32c1db;
                text-decoration: underline;
            }
        }
    }
    .form-newsletter {
        .container-input {
            position: relative;
            display: flex;
            align-items: center;
        }
        button {
            right: 0;
            color: #1f394c;
            font-weight: 900;
            border: none;
            text-transform: uppercase;
            background-color: unset;
            padding: 1rem;
            position: absolute;
        }
    }
    .icons-container {
        align-items: center;
    }
    .container-label {
        gap: 1rem;
        align-items: center;
        display: flex;
    }
}
@media screen and (max-width: 1000px) {
    footer {
        // .container {
        //     max-width: unset;
        // }

        .nav-footer {
            flex-wrap: wrap;
        }
        .footer-newsletter-content {
            gap: 2rem;
            flex-direction: column;
        }
    }
}

@media screen and (max-width: 800px) {
    footer {
        .footer-top-content {
            flex-direction: column;
            text-align: center;
            align-items: center;
            gap: 2rem;
        }
    }
}

@media screen and (max-width: 500px) {
    footer {
        .nav-footer {
            padding-bottom: unset;
        }
        .social-media {
            gap: 2rem;
        }
        .icons-container,
        .logo,
        .container-label,
        form {
            flex-direction: column;
        }

        .container-label {
            img {
                max-width: 30px;
            }
        }
    }
}
