header {
    text-transform: uppercase;
    #btn-mobile {
        display: none;
    }
    .container {
        height: 100%;
    }
    .header-top {
        background: black;
        height: 2.5rem;
        color: white;
    }
    .header-top-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        p {
            padding-left: 14.8rem;
        }
    }
    .header-icons {
        display: flex;
        gap: 2rem;
        a {
            transition: 0.3s;
            display: flex;
            &:hover {
                filter: invert(36%) sepia(12%) saturate(2548%)
                    hue-rotate(144deg) brightness(100%) contrast(86%);
            }
        }
    }
    .buttons-clube-container {
        position: relative;
        font-weight: 600;
        &:hover {
            .btn {
                &.--clubeHeader {
                    background-color: #32c1db;
                }
                &.--assineHeader {
                    background-color: black;
                }
            }
        }
    }
    .header-main {
        height: 8rem;
        position: relative;
        background-color: white;
        .header-main-content {
            display: flex;
            position: relative;
            align-items: center;
            height: 100%;
            justify-content: space-between;
        }

        nav {
            width: 100%;
            display: flex;
        }

        ul {
            justify-content: space-between;
            display: flex;
            align-items: center;
            list-style-type: none;
            width: 100%;
            .menu {
                display: flex;
                gap: 2rem;
                padding-left: 5rem;
                a {
                    font-weight: 500;
                    transition: 0.4s;
                    color: black;
                    font-size: 0.9rem;
                    &:hover {
                        color: #32c1db;
                    }
                }
                .active {
                    a {
                        position: relative;
                        color: #32c1db;
                    }
                    a::before {
                        content: "";
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        background-repeat: no-repeat;
                        z-index: 1;
                        position: absolute;
                        top: 70%;
                        transform: translateY(-50%);
                        margin-left: -15px;
                        background-image: url("../img/icon-star.svg");
                    }
                }
            }
        }
        .buttons-container {
            display: flex;
            gap: 2rem;
            align-items: center;
        }

        .logo-container {
            position: relative;
            padding: 0.6rem;
            top: -1rem;
            display: flex;
            justify-content: center;
            width: 160px;
            height: 160px;
            border-radius: 50%;
            background-color: rgb(255, 255, 255);
            align-items: center;
            img {
                border-radius: 50%;
                width: 160px;
                height: 140px;
                background-color: white;
            }
        }
        .button-login-container {
            a {
                display: flex;
                gap: 0.5rem;
            }
            img {
                transition: 0.5s;
            }
            span {
                font-weight: 400;
                transition: 0.5s;
                color: black;
            }
            &:hover {
                img {
                    filter: brightness(0);
                }
                span {
                    color: #32c1db;
                }
            }
        }
    }
}
.btn {
    text-transform: uppercase;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    &.--ctaClube {
        padding: 1rem 0.8rem;
        font-weight: 600;
        background-color: #32c1db;
        color: black;
    }
    &.--assine {
        font-weight: 400;
        background-color: #ea0000;
        color: white;
        padding: 0.25rem 0.8rem;
    }
}
@media screen and (max-width: 1200px) {
    header {
        .buttons-clube-container {
            &:hover .btn {
                &.--clubeHeader,
                &.--assineHeader {
                    background-color: unset;
                }
            }
        }
        .btn {
            &.--assineHeader {
                display: none;
            }
        }

        .header-top-content {
            justify-content: center;
            gap: 2rem;
            p {
                padding-left: unset;
            }
        }

        .header-main {
            position: relative;
            height: unset;
            nav {
                padding: unset;
                width: unset;
                justify-content: flex-end;
                ul {
                    max-width: unset;
                }
            }
            ul {
                justify-content: center;
            }
            .active {
                a {
                    color: black;
                }
            }
            .logo-container {
                top: unset;
                display: flex;
                justify-content: center;
                width: unset;
                height: unset;
                padding: unset;
                border-radius: 50%;
                background-color: rgb(255, 255, 255);
                align-items: center;
                img {
                    border-radius: 50%;
                    width: 160px;
                    height: 140px;
                    background-color: white;
                }
            }
            .container {
                padding-left: unset;
                padding-right: unset;
                max-width: unset;
            }
            #btn-mobile {
                margin-top: 0.5rem;
                margin-right: 3rem;
            }
            .header-main-content {
                height: unset;
                justify-content: center;
            }
            ul {
                .menu {
                    display: flex;
                    flex-wrap: nowrap;
                    flex-direction: column;
                    align-items: center;
                    padding-left: unset;
                    // padding: 1rem 0;
                }
            }
        }

        .menu-list {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: absolute;
            width: 100%;
            top: 9rem;
            gap: 2rem;
            right: 0;
            background-color: #fff;
            transition: 0.5s;
            z-index: 1000;
            height: 0;
            visibility: hidden;
            overflow-y: hidden;
        }
        .nav-menu.active .menu-list {
            height: 25rem;
            visibility: visible;
        }

        #btn-mobile {
            display: flex;
            padding: 0.5rem 0;
            font-size: 1rem;
            background: none;
            border: none;
            cursor: pointer;
            gap: 1.5rem;
            position: absolute;
            right: 0;
            top: 3rem;
        }

        #hamburguer {
            border-top: 2px solid #000;
            width: 30px;
        }

        #hamburguer::before,
        #hamburguer::after {
            content: "";
            display: block;
            position: relative;
            width: 30px;
            height: 2px;
            margin-top: 5px;
            border-top: 5px;
            background-color: #000;
            transition: 0.5s ease;
        }

        .nav-menu.active #hamburguer {
            border-top: transparent;
        }

        .nav-menu.active #hamburguer::before {
            transform: rotate(135deg);
        }

        .nav-menu.active #hamburguer::after {
            transform: rotate(-135deg);
            top: -7px;
        }
        .header-main {
            .buttons-clube-container,
            .buttons-container,
            .button-login-container {
                display: flex;
                align-items: center;
                flex-direction: column;
                a,
                span {
                    font-weight: 500;
                    font-size: 0.9rem;
                }
                img {
                    display: none;
                }
            }
            .buttons-clube-container {
                gap: 2rem;
            }
        }
    }
}
