.bg-purple {
    background: linear-gradient(96.21deg, #8345c0 2.61%, #5846be 99.5%);
}
.bg-black {
    background: black;
}

.bg-discount {
    position: relative;
    background-image: url("../img/icon-discount-hero.svg");
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 25rem;
}

.section-hero-component::after {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.8;
    background: linear-gradient(96.21deg, #8345c0 2.61%, #5846be 99.5%);
}

.section-hero-component {
    background-image: url("../img/img-hero.png");
    background-position-x: left;
    background-position-y: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .container {
        height: 100%;
        width: 100%;
    }
    &.--hero,
    &.--faq-hero {
        height: 16rem;
        padding: 6rem 0;
    }
    &.--faq-hero {
        &::after {
            opacity: unset;
        }
    }
    &.--hero-blog {
        height: 20rem;
        padding: 1rem 0;
        .breadcrumb {
            ul {
                top: 10px;
            }
        }
        h1 {
            margin-top: 3rem;
            font-size: 2rem;
            text-transform: none;
            font-weight: 500;
        }

        .date-blog {
            position: absolute;
            top: 70px;
        }
    }

    .breadcrumb {
        a {
            transition: 0.3s;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .hero-component-content {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        justify-content: center;
        position: relative;
        color: white;
        text-align: center;
        text-transform: uppercase;
    }
    h1 {
        position: absolute;
        font-size: 3rem;
    }
    h2 {
        font-weight: 300;
        position: absolute;
        bottom: -30px;
    }
    ul {
        list-style-type: none;
        display: flex;
        gap: 0.8rem;
        left: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    li,
    a {
        color: white;
    }
    .a-1 {
        display: block;
    }
}

@media screen and (max-width: 1000px) {
    .bg-discount {
        background-image: unset;
    }
    .section-hero-component {
        background-image: url("../img/img-hero.png");
    }
    .section-hero-component {
        padding: 3rem 0;
        height: 16rem;
        &.--faq-hero {
            padding: unset;
            ul {
                bottom: 25px;
            }
        }
        h1 {
            text-align: center;
        }
        h2 {
            bottom: 70px;
        }
        ul {
            bottom: -25px;
            top: unset;
            transform: unset;
            width: 100%;
            justify-content: center;
        }
    }
}
@media screen and (max-width: 768px) {
    .section-hero-component {
        h1 {
            font-size: 2.5rem;
        }
        &.--hero-blog {
            height: 22rem;

            h1 {
                font-size: 1.6rem;
            }

            .date-blog {
                top: 80px;
            }
        }
    }
}
@media screen and (max-width: 500px) {
    .section-hero-component {
        background-image: unset;
        h1 {
            font-size: 2rem;
        }
        &.--faq-hero {
            h2 {
                font-size: 1.3rem;
            }
        }
    }
}
