.section-hero {
    .descontos-home {
        position: relative;
        background-image: url("../img/bg-hero-home.png");
        background-size: cover;
        z-index: 1;
        height: 100%;
        background-repeat: no-repeat;
        h3,
        h2 {
            color: white;
            text-align: center;
            text-transform: uppercase;
        }
        h2 {
            font-size: 2.5rem;
            margin-top: 1rem;
        }
        .span-test {
            color: #ffb116;
            text-decoration: line-through;
            text-decoration-color: #6d46bf;
        }
        h3 {
            font-weight: 300;
            font-size: 1.2rem;
        }
        padding: 3rem 0;
        .descontos-wrapper {
            padding: 4rem 0;
            row-gap: 3rem;
            column-gap: 2rem;
            justify-content: center;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
        }
        .desconto-wrapper {
            gap: 1rem;
            display: flex;
            img {
                max-width: 60px;
            }
        }
        .desconto-content {
            display: flex;
            gap: 1rem;
        }
        .desconto-number,
        .desconto-text {
            color: white;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
        }
        .desconto-number {
            font-weight: 700;
            font-size: 1.5rem;
        }
        .desconto-text {
            align-items: flex-start;
            line-height: 190%;
            font-size: 1rem;
        }
        .desconto-text:first-child {
            span {
                font-weight: 700;
            }
        }
        .descontos {
            flex-direction: column;
            display: flex;
            align-items: center;
            p {
                color: white;
                text-align: center;
            }

            justify-content: center;
        }
    }
    .bg-discount {
        background-position-y: center;
        background-position-x: 25rem;
    }
}

.descontos-home::after {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.9;
    background: linear-gradient(96.21deg, #8345c0 2.61%, #5846be 99.5%);
}

.section-descontos {
    position: relative;
    .teste-black {
        height: 55rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .col-black {
        background-color: black;
    }
    .text-descontos {
        margin-top: 3rem;
        color: rgb(255, 0, 0);
        position: absolute;
        top: 0;
        width: 100%;

        img {
            width: 4rem;
            height: 4rem;
        }
    }
    .text-container,
    .text-desconto-container {
        display: flex;
    }
    .text-container {
        color: white;
        justify-content: center;
        text-transform: uppercase;
        flex-direction: column;
    }
    .text-desconto-container {
        gap: 1rem;
    }

    .img-wraper {
        max-width: 30%;
        img {
            width: 100%;
        }
    }
    .teste {
        width: 100%;
    }
    .descontos-main {
        padding: 10rem 0 3rem 0;
        display: flex;
        top: 0;
        justify-content: space-between;
        position: absolute;
        width: 100%;
        margin: 0 auto;
        left: -50%;
        right: -50%;
    }
    .cards-descontos {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        justify-content: space-between;
    }
    .card-descontos {
        img {
            max-height: 50px;
        }
        gap: 1rem;
        transition: 0.5s;
        align-items: center;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 10rem;
        padding: 2rem 3rem;
        background: white;
        box-shadow: 0px 12px 56px -10px rgba(61, 63, 64, 0.14);
        border-radius: 20px;
        position: relative;
        &:hover {
            background: linear-gradient(
                276.7deg,
                #ff7061 0.86%,
                #f29500 168.9%
            );
            border-radius: 20px;
            .hidden {
                display: block;
            }
            p:first-of-type {
                color: white;
                transform: scale(1.1);
            }
        }
        .card-content {
            width: 100%;
        }
        p,
        .hidden {
            text-align: center;
            font-family: Montserrat;
            font-weight: 600;
            transition: 0.3s;
            text-transform: uppercase;
        }
        p:first-of-type {
            color: #263b4b;
        }
        .hidden {
            display: none;
            font-size: 0.6rem;
            text-align: center;
            color: white;
            transition: 0.3s;
            margin-top: 3px;
        }
    }
    .right {
        &:hover {
            &::before {
                content: "";
                top: 50%;
                margin: 0 auto;
                position: absolute;
                width: 10px;
                border-radius: 50%;
                background: linear-gradient(
                    276.7deg,
                    #ff7061 0.86%,
                    #f29500 168.9%
                );
                border: 2px solid transparent;
                height: 10px;
                left: -5px;
            }
            &::after {
                content: "";
                top: 53%;
                margin: 0 auto;
                position: absolute;
                width: 13rem;
                background: linear-gradient(
                    276.7deg,
                    #ff7061 0.86%,
                    #f29500 168.9%
                );
                height: 2.5px;
                z-index: 5;
                left: -200px;
            }
        }
    }
    .left {
        &:hover {
            &::before {
                content: "";
                top: 50%;
                margin: 0 auto;
                position: absolute;
                width: 10px;
                border-radius: 50%;
                background: linear-gradient(
                    276.7deg,
                    #ff7061 0.86%,
                    #f29500 168.9%
                );
                border: 2px solid transparent;
                height: 10px;
                right: -5px;
            }
            &::after {
                content: "";
                top: 53%;
                margin: 0 auto;
                position: absolute;
                width: 13rem;
                background: linear-gradient(
                    276.7deg,
                    #ff7061 0.86%,
                    #f29500 168.9%
                );
                height: 2.5px;
                z-index: 5;
                right: -200px;
            }
        }
    }

    .img-wrapper {
        display: flex;
        justify-content: center;
        position: relative;
    }
}

.section-economia {
    position: relative;
    background-image: url("../img/img-bg-economia.png");
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: left;
    padding: 5rem 0;
    background-color: black;
    color: white;
    &::after {
        position: absolute;
        width: 35%;
        height: 34%;
        left: 60px;
        content: "";
        background-image: url("../img/img-bg-economia-logo.png");
        bottom: 50px;
        background-repeat: no-repeat;
    }
    .row-1 {
        p {
            text-transform: uppercase;
        }
        h3 {
            font-size: 2rem;
        }
    }
    .row-2 {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 2rem;
        p {
            font-weight: 700;
            max-width: 300px;
        }
        text-transform: uppercase;
        border-radius: 20px;

        background: #ffffff1c;
    }
    .economia-content {
        gap: 4rem;
        justify-content: space-between;
        display: flex;
    }
    .col-1 {
        h3 {
            font-size: 1rem;
        }
        width: 48%;
        display: flex;
        gap: 3rem;
        text-transform: uppercase;
        flex-direction: column;
        span {
            font-weight: 300;
        }
    }
    .title {
        align-items: center;
        gap: 1rem;
        display: flex;
        span {
            display: block;
        }
    }
    .content {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        h3 {
            line-height: 30px;
            font-size: 1.5rem;
            font-weight: 300;
        }
        span {
            font-weight: 700;
        }
        p {
            line-height: 21px;
            text-transform: none;
        }
    }
    .col-2 {
        display: flex;
        align-items: center;
        .calculadora-economia {
            padding: 2rem;
            align-items: center;
            background: linear-gradient(
                114.25deg,
                #8345c0 3.63%,
                #5846be 42.09%
            );
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            gap: 2rem;
        }
        .row-1,
        .row-2 {
            text-align: center;
        }
        .row-3 {
            display: flex;
            flex-direction: column;
            gap: 3rem;
        }
        .calculadora-economia-categoria {
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 30rem;
            column-gap: 2rem;
            h3 {
                max-width: 150px;
            }
            input {
                max-width: 6rem;
                color: black;
                background-color: white;
                border-radius: 5px;
                padding: 1rem 0 1rem 2.2rem;
                border: none;
                appearance: unset;
                transition: 0.3s;
                font-size: 1rem;
                outline: 3px solid transparent;
                &:focus {
                    outline: 3px solid #32c1db;
                }
            }
            input[type="number"]::-webkit-inner-spin-button,
            input[type="number"]::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
            .input-container {
                display: flex;
                align-items: center;
                // justify-content: flex-end;
                display: flex;
            }
            .categoria-container {
                gap: 1rem;
                display: flex;
                flex-direction: row;
            }
            p {
                padding-left: 10px;
                color: black;
                position: absolute;
                font-weight: 700;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .section-economia {
        background-image: unset;
        &::after {
            background-image: unset;
        }
    }
    .section-descontos {
        .right {
            &:hover {
                &::after {
                    width: 8rem;
                    left: -120px;
                }
            }
        }
        .left {
            &:hover {
                &::after {
                    width: 8rem;
                    right: -120px;
                }
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .section-descontos {
        position: unset;
        padding: 3rem 0;
        background-color: black;
        .text-descontos {
            margin-top: unset;
            position: unset;
            top: unset;
            padding: 1rem 0;
        }
        .descontos-main {
            position: unset;
            flex-direction: column;
            gap: 2rem;
            padding: 3rem 0;
        }
        .img-wrapper {
            display: none;
        }
        .cards-descontos {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
        .card-descontos {
            padding: 1rem 1rem;
            width: 100%;
            justify-content: center;
            text-align: center;
        }
        .left,
        .right {
            &:hover {
                &::after,
                &::before {
                    content: "";
                    width: unset;
                    height: unset;
                }
            }
        }
        .teste-black {
            height: unset;
        }
        .teste {
            background-color: black;
        }
    }
    .section-economia {
        .title {
            flex-direction: column;
            h3 {
                font-size: 2rem;
            }
        }
        .col-1 {
            width: 100%;
            text-align: center;
            .button-container {
                justify-content: center;
            }
        }
        .content {
            gap: 2rem;
            justify-content: center;
        }
        .economia-content {
            flex-direction: column;
        }

        .col-2 {
            justify-content: center;
        }
    }
}

@media screen and (max-width: 768px) {
    .section-descontos {
        .text-desconto-container {
            justify-content: center;
            // text-align: center;
        }
        .descontos-main {
            flex-direction: row;
        }
        .cards-descontos {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
        }
        .card-descontos {
            width: 100%;
            padding: 2rem 3rem;
        }
        .text-descontos {
            position: unset;
        }
    }
}

@media screen and (max-width: 600px) {
    .section-descontos {
        .descontos-main {
            flex-direction: column;
        }
        .cards-descontos {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .card-descontos {
            width: 60%;
            padding: 2rem 3rem;
        }
        .text-descontos {
            position: unset;
        }
    }
}

@media screen and (max-width: 425px) {
    .section-hero {
        .descontos-home {
            h2 {
                font-size: 2rem;
            }
        }
        .descontos-wrapper {
            padding: 3rem 0;
        }
    }
    .section-hero .descontos-home .desconto-wrapper {
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        img {
            max-width: 77px;
        }
    }
    .section-descontos {
        .text-desconto-container {
            flex-direction: column;
            text-align: center;
            align-items: center;
        }
        .descontos-main {
            padding: 3rem 0;
        }
        .card-descontos {
            width: 80%;
        }
    }
    .section-economia {
        .row-2 {
            padding: 1rem;
        }
        .col-2 {
            .calculadora-economia-categoria {
                img {
                    max-width: 50px;
                }
                .categoria-container {
                    align-items: center;
                    flex-direction: column;
                }
                flex-direction: column;
                row-gap: 1rem;
                h3 {
                    text-align: center;
                }
            }
        }
    }
}
