.section-parceiros {
    background: linear-gradient(180deg, #000000 0%, #161414 100%);
    .parceiro {
        display: flex;
        background-image: url("../img/bg-handshaking.png");
        background-repeat: no-repeat;
        padding: 4rem;
        justify-content: center;
    }
    .form-parceiros-wrapper {
        padding: 5rem 0 2rem 0;
        display: flex;
        width: 80%;
        flex-direction: column;
        align-items: center;
        background: linear-gradient(96.21deg, #8345c0 2.61%, #5846be 99.5%);
        border-radius: 10px;
        span {
            display: block;
        }
        h2,
        span {
            text-align: center;
            color: white;
            font-size: 1.5rem;
            font-weight: 700;
            text-transform: uppercase;
        }
        form {
            padding: 4rem 3rem;
            width: 80%;
            display: flex;
            flex-direction: column;
        }
        label {
            font-size: 1.2rem;
            color: white;
            margin-bottom: 1rem;
        }
        input,
        textarea {
            background-color: transparent;
            border: 1px solid #2dbde9;
            border-radius: 10px;
            outline: 0;
            &:hover {
                border: 1px solid white;
            }
        }
        input {
            margin-bottom: 2rem;
            padding: 1rem;
        }
        .row-form {
            display: flex;
            gap: 1rem;
            flex-direction: row;
            div {
                display: flex;
                flex-direction: column;
            }
            .row-telefone {
                width: 40%;
            }
            .row-responsavel {
                width: 60%;
            }
        }
        .button-container {
            display: flex;
            justify-content: center;
        }
    }
}

@media screen and (max-width: 920px) {
    .section-parceiros .form-parceiros-wrapper .row-form {
        flex-direction: column;
        gap: unset;
        .row-telefone,
        .row-responsavel {
            width: 100%;
        }
    }
}

@media screen and (max-width: 768px) {
    .section-parceiros {
        .form-parceiros-wrapper {
            padding: 3rem 0 0 0;
            form {
                width: 100%;
                padding: 3rem 2rem;
            }
        }
        .parceiro {
            padding: 3rem 1rem;
        }
    }
}

@media screen and (max-width: 475px) {
    .section-parceiros {
        .form-parceiros-wrapper {
            border-radius: unset;
            width: 100%;
            padding: 3rem 0 0 0;
            form {
                width: 100%;
            }
        }
        .parceiro {
            padding: unset;
        }
    }
}
