.swiper-container {
    .swiper-button-next,
    .swiper-button-prev {
        --swiper-navigation-size: 20px;
        --swiper-theme-color: #ffffff;
        padding: 1.5rem;
        border-radius: 50%;
        object-fit: cover;
        background-color: #32c1db;
        transition: 0.3s;
        &:hover {
            transform: scale(1.1);
            background-color: #6346bf;
        }
    }
}

.section-slider-descontos {
    position: relative;
    background-image: url("../img/img-bg-slider-descontos.png");
    background-repeat: no-repeat;
    background-position-y: top;
    background-position-x: left;
    padding: 8rem 0 4rem 0;
    .slider-descontos-content {
        display: flex;
    }
    .slider-descontos {
        padding: 5rem 0;
    }
    .swiper-container {
        position: relative;
        max-width: 650px;
        margin: 0 auto;
    }
    .swiper {
        padding: 1rem 0.5rem;
    }
    .swiper-button-next,
    .swiper-button-prev {
        bottom: 130px;
        top: unset;
    }
    .swiper-button-next {
        left: -90px;
    }
    .swiper-button-prev {
        left: -170px;
    }
    .text {
        padding: 1rem 0;
        width: 60%;
        h2 {
            text-transform: uppercase;
            color: #1f394d;
            font-size: 1.5rem;
        }
        span {
            display: block;
            font-weight: 300;
        }
        p {
            margin-top: 2.5rem;
            max-width: 270px;
            font-size: 1.2rem;
        }
    }
    .swiperDescontos {
        height: 30rem;
        display: flex;

        .swiper-wrapper {
            display: flex;
            height: 24rem;
            align-items: center;
        }

        .swiper-slide {
            display: flex;
            height: calc((100% - 30px) / 2) !important;
            width: 40%;
            a {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                transition: 0.3s;
                background: #ffffff;
                box-shadow: 0px 12px 30px rgba(61, 63, 64, 0.14);
                border-radius: 10px;
                padding: 2rem;
                color: #000;
                &:hover {
                    transform: scale(1.08);
                    p {
                        color: #32c1db;
                    }
                }
            }
            p {
                transition: 0.3s;
                max-width: 8rem;
                text-align: center;
            }
        }
    }
}

.swiperEstabelecimentosConveniados {
    height: 30rem;
    .swiper-wrapper {
        margin-top: 20px;
    }
    .img-container {
        max-width: 60%;
        position: relative;
        p {
            position: absolute;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: #6346bf;
            bottom: 0;
            right: 10px;
            display: flex;
            color: white;
            align-items: center;
            justify-content: center;
            font-weight: 500;
        }
        img {
            width: 100%;
        }
    }
    p {
        max-width: 200px;
    }
    .card {
        width: 20rem;
    }
    .card,
    .card-estabelecimentos {
        display: flex;
        align-items: center;
        color: black;
        flex-direction: column;
        gap: 1.5rem;
        transition: 0.2s;
        background: #ffffff;
        box-shadow: 0px 12px 30px rgba(61, 63, 64, 0.14);
        padding: 1rem;
        position: relative;
        &:hover {
            box-shadow: 0px 16px 40px rgba(61, 63, 64, 0.14);
            .outro {
                transition: 0.5s;
                display: inline-flex;
            }
        }
    }

    .content {
        padding-bottom: 4rem;
        display: flex;
        text-align: center;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }

    h3 {
        max-width: 10rem;
        text-transform: uppercase;
    }
    .outro {
        display: none;
        position: absolute;
        bottom: 0;
        right: 0;
        transition: 0.5s;
        color: white;
        background-color: purple;
        padding: 1rem;
        width: fit-content;
    }
}

.component-listagem-estabelecimentos-conveniados {
    padding: 5rem 0;
    &.--home {
        padding: 2rem 0;
    }
    .listagem-estabelecimentos-conveniados {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 2rem;
        column-gap: 1rem;
        &.--home {
            display: flex;
        }
    }
    .img-container {
        max-width: 60%;
        position: relative;
        p {
            position: absolute;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: #6346bf;
            bottom: 0;
            right: 10px;
            display: flex;
            color: white;
            align-items: center;
            justify-content: center;
            font-weight: 500;
        }
        img {
            width: 100%;
        }
    }
    p {
        max-width: 270px;
    }

    .card-estabelecimentos {
        &.--slider {
            height: 26rem;
        }
        border-radius: 20px;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        gap: 1.5rem;
        transition: 0.5s;
        background: #ffffff;
        box-shadow: 0px 18px 44px -37px #6346bf;

        padding: 1rem;
        padding-bottom: 3rem;
        position: relative;
        &:hover {
            .outro {
                transition: 0.5s;
                display: inline-flex;
            }
        }
    }
    .content {
        &.--home {
            min-height: 11rem;
        }
        a {
            color: black;
        }
        min-height: 7rem;
        display: flex;
        text-align: center;
        flex-direction: column;
        gap: 1rem;
        justify-content: space-between;
        align-items: center;
    }
    .swiper-button-next,
    .swiper-button-prev {
        --swiper-navigation-size: 20px;
        --swiper-theme-color: #ffffff;
        padding: 1.5rem;
        border-radius: 50%;
        object-fit: cover;
        background-color: #32c1db;
    }
    .swiper-button-next {
        right: -80px;
    }
    .swiper-button-prev {
        left: -80px;
    }
    h3 {
        max-width: 12rem;
        text-transform: uppercase;
    }
    .outro {
        display: none;
        position: absolute;
        bottom: 0;
        right: 0;
        transition: 0.5s;
        color: white;
        background: #6346bf;
        padding: 1rem;
        border-radius: 20px 0px 20px 0;
        width: fit-content;
    }

    .swiper-container {
        position: relative;
        max-width: 1000px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 1200px) {
    .section-slider-descontos {
        padding: 3rem 0;
        .slider-descontos-content {
            flex-direction: column;
            gap: 2rem;
        }
        .text {
            align-items: center;
            display: flex;
            flex-direction: column;
            width: 100%;
            text-align: center;
            p {
                margin-top: 2rem;
            }
        }
        .swiper-button-next,
        .swiper-button-prev {
            bottom: -15px;
        }
        .swiper-button-next {
            right: 40%;
            left: unset;
        }
        .swiper-button-prev {
            left: 40%;
        }
    }
    .component-listagem-estabelecimentos-conveniados {
        .container {
            max-width: unset;
        }
        .swiper-container {
            position: relative;
            max-width: 800px;
            margin: 0 auto;
        }
        .img-container {
            &.--home {
                max-width: 50%;
            }
            img {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 991px) {
    .component-listagem-estabelecimentos-conveniados {
        .listagem-estabelecimentos-conveniados {
            grid-template-columns: 1fr 1fr;
        }
        .swiper-container {
            position: relative;
            max-width: 550px;
            margin: 0 auto;
        }
        .img-container {
            &.--home {
                max-width: 70%;
            }
        }
    }
}
@media screen and (max-width: 768px) {
    .section-slider-descontos {
        background-image: unset;
        .container {
            max-width: 600px;
        }
        .slider-descontos-content {
            flex-direction: column;
            gap: 2rem;
        }
        .swiper-container {
            max-width: 100%;
        }

        .swiper-button-next {
            right: 38%;
        }
        .swiper-button-prev {
            left: 38%;
        }
        .swiperDescontos {
            .swiper-slide {
                a {
                    padding: 0.5rem;
                }
                img {
                    max-width: 100%;
                }
            }
        }
    }
    .component-listagem-estabelecimentos-conveniados {
        .listagem-estabelecimentos-conveniados {
            grid-template-columns: 1fr 1fr;
        }
        .swiper-container {
            position: relative;
            max-width: 500px;
            margin: 0 auto;
        }
        .swiper {
            width: 80%;
        }
        .img-container {
            &.--home {
                max-width: 50%;
            }
        }
        .swiper-button-next {
            right: -20px;
        }
        .swiper-button-prev {
            left: -20px;
        }
    }
}
@media screen and (max-width: 600px) {
    .component-listagem-estabelecimentos-conveniados {
        .listagem-estabelecimentos-conveniados {
            grid-template-columns: 1fr;
        }
        .swiper-container {
            position: relative;
            max-width: 90%;
            margin: 0 auto;
        }
        .swiper {
            width: 80%;
        }
        .img-container {
            &.--home {
                max-width: 140px;
            }
        }
        .swiper-button-next {
            right: 60px;
        }
        .swiper-button-prev {
            left: 60px;
        }
        .swiper-button-next,
        .swiper-button-prev {
            top: unset;
            bottom: 0;
        }
        .card-estabelecimentos {
            &.--slider {
                height: 75%;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .section-slider-descontos {
        .swiper-button-next {
            right: 35%;
        }
        .swiper-button-prev {
            left: 35%;
        }
        .swiperDescontos {
            padding: 1rem 0.5rem;
        }
        .swiper-slide-active,
        .swiper-slide-next {
            margin-top: unset;
        }
    }
}
@media screen and (max-width: 400px) {
    .section-slider-descontos {
        .swiper-button-next {
            right: 30%;
        }
        .swiper-button-prev {
            left: 30%;
        }
    }
}
