.section-vantagens {
    &.--sobre {
        padding-bottom: 10rem;
    }

    .sobre-main {
        padding-bottom: 10rem;
        background: linear-gradient(180deg, #000000 0%, #161414 100%);
        color: white;
        position: relative;
        .onda {
            position: absolute;
            bottom: -3px;
            background-image: url("../img/onda.svg");
            z-index: 1;
            background-repeat: no-repeat;
            height: 27px;
            width: 152px;
            align-items: center;
            display: flex;
            justify-content: center;
        }
        .onda::after {
            position: absolute;
            height: 10px;
            width: 40px;
            content: url("../img/arrow-vantagens.svg");
        }
    }
    .content-sobre-main {
        display: flex;
        align-items: center;
        padding: 5rem 1.5rem;
        gap: 2rem;
        img {
            filter: brightness(1000%);
            transform: scale(1.2);
        }
        .text-sobre-main {
            h3 {
                text-transform: uppercase;
                margin-bottom: 2rem;
                font-size: 1.5rem;
            }
            p {
                font-weight: 300;
                font-size: 1rem;
                margin-bottom: 1rem;
            }
        }
    }
    .content-sobre-vantagens {
        width: 40%;
    }
    .sobre-vantagens {
        &.--sobre {
            position: unset;
        }
        gap: 4rem;
        display: flex;
        position: relative;
        margin-top: -160px;

        .title-sobre-vantagens {
            &.--sobre {
                position: relative;
            }
            padding: 1rem 0 2rem 0;
            display: flex;
            align-items: center;
            text-transform: uppercase;
            color: white;
        }
        h3 {
            max-width: 16rem;
            font-size: 1.5rem;
        }
        span {
            display: block;
            max-width: 12rem;
            color: #32c1db;
        }

        .onda::before {
            z-index: -1;
            position: absolute;
            top: 0rem;
            left: 2rem;
        }
        .texts-sobre-vantagens {
            display: flex;
            flex-direction: column;
            gap: 3rem;
            padding-top: 5rem;
            box-sizing: border-box;
        }
        .text-sobre-vantagens {
            display: flex;
            align-items: center;
            font-size: 1.2rem;
            transition: 0.3s;
            font-weight: 700;
            gap: 0.5rem;
            text-transform: uppercase;
            &:hover {
                gap: 1rem;
            }
        }
        p {
            font-size: 1rem;
            margin-top: 1rem;
        }
        .col-photo {
            &.--sobre {
                width: 412px;
                height: 800px;
                background: linear-gradient(
                    96.21deg,
                    #8345c0 2.61%,
                    #5846be 99.5%
                );
                border-radius: 10px;
                position: absolute;
                right: 0;
            }
        }
        .photo {
            &.--sobre {
                top: -20px;
                position: absolute;
                right: 20px;
                background-image: unset;
            }
            &.--home {
                max-width: 100%;
            }
        }
    }
    /*sobre*/

    /*listagem-blog*/
}

@media screen and (max-width: 1200px) {
    .section-vantagens {
        &.--sobre {
            padding-bottom: 3rem;
        }
        .content-sobre-vantagens {
            width: 100%;
        }
        .sobre-vantagens {
            flex-direction: column;
            &.--sobre {
                gap: 4rem;
            }
            .col-photo {
                display: none;
                &.--sobre {
                    height: unset;
                    background: unset;
                    position: relative;
                    width: 100%;
                }
            }
            .photo {
                &.--sobre {
                    position: unset;
                    width: unset;
                    max-width: 100%;
                    background-size: cover;
                }
            }
        }
    }
}
@media screen and (max-width: 1000px) {
    .section-vantagens {
        .sobre-main {
            padding-bottom: 8rem;
        }

        .component-listagem-blog {
            margin-top: unset;
            .listagem-blog {
                flex-wrap: wrap;
                gap: 3rem;
                justify-content: center;
            }
            .card-blog {
                &.--home {
                    width: 100%;
                }
                width: 60%;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .section-vantagens {
        .content-sobre-main {
            flex-direction: column;
            gap: 3rem;
        }
        .sobre-vantagens {
            .photo {
                &.--sobre {
                    background-size: contain;
                }
            }
        }
    }
    .swiperBlog {
        h3 {
            font-size: 1rem;
        }
    }
}
@media screen and (max-width: 500px) {
    .section-vantagens {
        .content-sobre-main {
            padding: 1rem 1.5rem 5rem 1rem;
        }
        .sobre-main {
            .onda {
                position: absolute;
                left: 52%;
                transform: translateX(-50%);
            }
        }
        .sobre-vantagens {
            margin-top: -210px;
            span {
                max-width: unset;
                text-align: center;
            }

            .title-sobre-vantagens {
                img {
                    max-width: 70px;
                }
                justify-content: center;
                flex-direction: column;
            }
            .texts-sobre-vantagens {
                align-items: center;
            }
            .text-sobre-vantagens {
                align-items: center;
                text-align: center;
                flex-direction: column;
            }
            p {
                text-align: center;
            }
        }
        .text-sobre-main {
            text-align: center;
        }

        .component-listagem-blog {
            .swiper-slide {
                display: flex;
                justify-content: center;
            }
            .card-blog {
                &.--home {
                    width: 80%;
                }
            }
        }
    }
}
