@import "_header.scss";
@import "_footer.scss";
@import "_btn.scss";
@import "_slider.scss";
@import "_ajuda.scss";
@import "_blog.scss";
@import "_descontos.scss";
@import "_faq.scss";
@import "_hero.scss";
@import "_home.scss";
@import "_parceiros.scss";
@import "_sobre.scss";

.container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

.pagination {
    margin-top: 5rem;
    ul {
        align-items: center;
        justify-content: center;
        list-style-type: none;
        display: flex;
        gap: 1rem;
    }
    .active > span,
    a.page-next {
        font-size: 20px;
    }
    .li-page-next {
        border: 1px solid #cbcbcb;
        cursor: pointer;
        a {
            color: #32c1db;
        }
        &:hover {
            a {
                color: #6346bf;
            }
        }
    }
    .active {
        background-color: #32c1db;
        color: white;
        border: 1px solid transparent;
    }
    .li-page-next,
    .active {
        padding: 1rem;
        font-weight: 700;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
    }
    .btn-prev,
    a.btn-prev {
        margin-right: 20px;
        content: url("../img/arrow-prev.svg");
    }
    .btn-next,
    a.btn-next {
        margin-left: 20px;
        content: url("../img/arrow-next.svg");
    }
    .btn-prev,
    .btn-next,
    a.btn-prev,
    a.btn-next {
        background-color: #32c1db;
        padding: 0.8rem;
        cursor: pointer;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        transition: 0.3s;
        &:hover {
            background-color: #6346bf;
        }
    }
}

@media screen and (max-width: 1000px) {
    .pagination {
        .btn-prev,
        a.btn-prev {
            margin-right: unset;
        }
        .btn-next,
        a.btn-next {
            margin-left: unset;
        }
    }
}
